@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin-left: 0%;
  margin-right: 0%;
  font-family: "Poppins", sans-serif;
}

nav ul {
  word-spacing: 1.25em;
  padding: 0.625em;
}

nav {
  color: #666666;
  position: fixed;
  background-color: white;
  width: 100%;
}

nav a {
  color: #666666;
  text-decoration: none;
}

ul :hover {
  color: #ee534f;
}

.logo img {
  width: 18.75em;
  height: 6.25em;
  margin-left: 0%;
}

.searchBox {
  padding: 1.25em;
  width: 100%;
}

header {
  background-image: url(../images/Code4CT-homepage.jpg);
  color: #e8e8e8;
  width: 100%;
  height: 34.375em;
  text-align: center;
  padding-top: 5em;
}

header h1 {
  font-size: 2.813em;
  padding-left: 5.625em;
  padding-right: 5.625em;
  padding-top: 1em;
}

header p {
  padding-right: 11.875em;
  padding-left: 11.875em;
  font-size: 0.938em;
  line-height: 1.75;
}

.skills {
  text-align: center;
  background-color: black;
  width: 100%;
  color: #e8e8e8;
}

.icons {
  padding: 3.75em;
}

.icons i {
  font-size: 1.875em;
  color: #ee534f;
}

.our {
  padding-left: 4.375em;
}

.mainContainer {
  padding-top: 4.375em;
}

.fourImages img {
  width: 12.5em;
  height: 12.5em;
}

.bigImg img {
  height: 31.25em;
  width: 50em;
}

.team {
  background-color: white;
  color: black;
  padding-bottom: 1.25em;
}

.contactItem1 {
  padding-top: 3.125em;
}

.contactItem2 {
  background-color: white;
  color: #666666;
  text-align: left;
  padding-left: 1.875em;
}

footer {
  display: inline;
}

.copyright {
  padding: 0%;
  margin: 0%;
}

.follow {
  padding: 0%;
  padding-right: 20%;
}

.banner {
  padding-top: 8.75em;
  text-align: center;
  padding-bottom: 6.25em;
  background-color: #e7e7e7;
  color: #555555;
}
.banner p {
  color: #ee534f;
}

.subHead {
  display: inline-block;
}

.message {
  text-align: left;
  padding-left: 1.875em;
  padding-bottom: 5em;
}

.messageSend {
  margin-left: 1.875em;
  font-size: 1.25em;
}

.welcomeImg {
  background-color: grey;
  width: 35.625em;
  height: 23.75em;
}
.welcomeImg img {
  width: 100%;
  height: 100%;
}

.weImg {
  background-color: grey;
  height: 42.375em;
  width: 43.75em;
}
.weImg img {
  width: 100%;
  height: 100%;
}

.whoWe {
  padding-left: 1.875em;
}

.welcome {
  padding-bottom: 1.875em;
  padding-top: 1.875em;
  padding-left: 1.25em;
}

.weDescrip {
  padding-left: 1.25em;
}
.weDescrip h3 {
  color: #ee534f;
}

.stats {
  padding-bottom: 1.875em;
  padding-top: 1.875em;
  color: #e7e7e7;
  background-color: black;
  padding-left: 30px;
}

.portfolioHead {
  text-align: center;
}

.courses {
  padding-left: 20px;
}
.courses h2 {
  text-align: center;
}

.course1 {
  border: 2px solid #e8e8e8;
  padding-left: 30px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav li {
  list-style: none;
  display: inline-block;
  word-spacing: 20px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 130px;
  grid-row-gap: 25px;
  grid-column-gap: 10px;
}

.images img {
  width: 200px;
  height: 200px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 15px;
}

.our {
  display: inline-block;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.fourImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.mainPic {
  display: grid;
  grid-template-columns: 500px 500px;
}

.team {
  margin-left: 8.125em;
}

.pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pics img {
  width: 220px;
  height: 300px;
  background-color: gray;
}

.picDe {
  padding-left: 1px;
  padding-right: 20px;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ee534f;
  text-align: right;
  color: white;
}

.follow {
  text-align: right;
  padding-left: 250px;
}

footer a {
  color: white;
}

.message {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.whoWe {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 300px 300px 435px 300px;
}

.galleryContainer2 {
  display: grid;
  grid-template-columns: 300px 435px 300px 300px;
}

.galleryContainer3 {
  display: grid;
  grid-template-columns: 300px 300px 435px 300px;
}

.course {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.course2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.course3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.course4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.course5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

#start, #donate {
  height: 6vh;
  width: 8.125em;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

#donate .fa-angle-double-right {
  color: black;
}

#start:hover {
  width: 137px;
}
#start:hover .fa-angle-double-right {
  padding-left: 0.625em;
  color: white;
}

#donate:hover {
  width: 137px;
}
#donate:hover .fa-angle-double-right {
  padding-left: 0.625em;
  color: white;
}

button a .fa-angle-double-right {
  display: none;
}

button:hover {
  text-align: left;
  color: white;
}
button:hover .fa-angle-double-right {
  display: inline;
  padding: 0.313em;
  color: #e7e7e7;
  text-decoration: none;
}

#start {
  background-color: #ee534f;
  border: 3px solid #ee534f;
  color: #e8e8e8;
}

#donate {
  background-color: black;
  border: 3px solid #e8e8e8;
  color: #e8e8e8;
}

.long {
  width: 8.75em;
  height: 1.2px;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  float: left;
}

.short {
  width: 1.563em;
  height: 1.5px;
  background-color: #ee534f;
  float: left;
}

.middle {
  width: 1.563em;
  height: 1.5px;
  background-color: #ee534f;
  padding-bottom: 0%;
}

.middle2 {
  width: 8.75em;
  height: 1.2px;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
}

.readMore {
  width: 15%;
  border: 1px solid #e8e8e8;
  border-radius: 0%;
}

.picDe p, .picDe h3, .picDe hr {
  color: #888888;
}
.picDe h2 {
  color: #555555;
}
.picDe a {
  font-size: 1.25em;
  padding-right: 0.313em;
  color: #888888;
}

.counter {
  text-align: center;
  background-color: black;
  width: 100%;
  color: #e8e8e8;
  padding-left: 1.875em;
  padding-right: 1.875em;
  padding-top: 3.75em;
  padding-bottom: 3.75em;
}

.count {
  padding-right: 3.125em;
}

.counter {
  margin-left: 0%;
}
.counter span {
  font-size: 1.875em;
}
.counter p {
  font-size: 1em;
}
.counter hr {
  width: 1.25em;
  color: #ee534f;
  border: 1px solid #ee534f;
}

.subscribe {
  text-align: center;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.subscribe p {
  font-size: 0.938em;
}
.subscribe i {
  color: #ee534f;
}
.subscribe input {
  padding-right: 0.625em;
  background-color: #f9f9f9;
  border: 2px solid #f9f9f9;
}
.subscribe button {
  background-color: #ee534f;
  color: #e7e7e7;
  border: 2px solid #ee534f;
  height: 2.25em;
  border-radius: 5px;
}

.sponsors {
  background-color: black;
  color: white;
  overflow: hidden;
  height: 13.875em;
}

.sponsorItems {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  animation-name: slider;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  left: 100%;
}

@keyframes slider {
  100% {
    position: relative;
    left: -3000px;
  }
}
.sponsors img {
  height: auto;
  width: auto;
  margin-right: 3.125em;
}

.contact {
  padding-top: 1.875em;
  background-color: white;
  margin-left: 3.75em;
  color: #555555;
  text-align: left;
}

.fa-phone, .fa-envelope, .fa-map-marker-alt, .fa-clock {
  padding: 0.313em;
  border-radius: 10%;
  border: 1px solid grey;
  color: #555555;
}

.fa-phone:hover, .fa-envelope:hover, .fa-map-marker-al :hover, .fa-clock:hover {
  color: #ee534f;
}

.gallery {
  margin-left: 90px;
}
.gallery img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}
.gallery img:hover {
  transform: scale(1.1);
}

.buttons {
  padding-left: 600px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.buttons button {
  color: #888888;
  background-color: white;
  border: 1px solid #888888;
  width: 30px;
}
.buttons button:hover {
  background-color: #ee534f;
  color: white;
}

.messageSend button {
  background-color: #ee534f;
  color: white;
  border: 1px solid #ee534f;
  width: 170px;
  height: 50px;
}

.banner span {
  color: #ee534f;
}

.course1 {
  background-color: #e8e8e8;
}
.course1 button {
  color: white;
  background-color: #ee534f;
  border: 2px solid #ee534f;
}

.cart {
  margin-left: 90px;
  background-color: #ee534f;
  color: white;
  border: 1px solid #ee534f;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  nav {
    font-size: 8px;
    width: 360px;
    position: fixed;
  }
  nav img {
    width: 40px;
    height: 40px;
  }

  .searchBox {
    width: 100%;
  }

  header h1 {
    font-size: 1.813em;
    padding-top: 1em;
    padding-left: 0%;
    padding-right: 0%;
  }

  header p {
    font-size: 0.938em;
    line-height: 1.75;
    padding: 0%;
  }

  .about {
    display: block;
  }

  .images {
    display: inline-block;
    padding-left: 0%;
  }

  .readMore {
    width: 30%;
    border: 1px solid #e8e8e8;
    border-radius: 0%;
    font-size: 10px;
  }

  .skills {
    font-size: 10px;
    display: block;
  }

  .our {
    padding-left: 0%;
    width: 360px;
  }
  .our p {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mainContainer {
    display: block;
    padding-left: 75px;
  }

  .fourImages {
    display: block;
  }

  .fourImages img {
    width: 12.5em;
    height: 12.5em;
  }

  .bigImg img {
    width: 12.5em;
    height: 12.5em;
  }

  .mainPic {
    display: block;
  }

  .team {
    margin-left: 2.125em;
  }

  .pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .pics img {
    width: 110px;
    height: 179px;
    background-color: gray;
  }

  .picDe {
    font-size: 10px;
  }

  .counter {
    padding-left: 0;
  }
  .counter span {
    font-size: 0.875em;
  }

  .count {
    padding-right: 0.125em;
  }

  .sponsors {
    width: 360px;
    height: 2.875em;
  }
  .sponsors img {
    width: 100%;
    height: 100%;
  }

  .contact {
    display: block;
  }

  .follow {
    font-size: 10px;
    padding-left: 0%;
  }

  .copyright {
    font-size: 10px;
  }

  .welcome {
    display: block;
  }

  .welcomeImg {
    margin-top: 10px;
    width: 21.625em;
    height: 15.75em;
  }

  .weImg {
    height: 17.375em;
    width: 18.75em;
  }

  .whoWe {
    display: block;
  }

  .stats {
    font-size: 10px;
  }

  .con {
    padding-left: 20px;
  }

  .message {
    display: block;
  }

  .mapouter {
    text-align: right;
    height: 500px;
    width: 100%;
  }

  .galleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .galleryContainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .galleryContainer3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .buttons {
    padding-left: 107px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .gallery {
    margin-left: 13px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav {
    width: 48em;
  }

  header {
    width: 48em;
    padding-left: 0%;
    padding-right: 0%;
  }

  header h1 {
    padding-left: 0%;
    padding-right: 0%;
  }

  .about {
    padding-right: 103px;
    margin-left: 11em;
    padding: 0%;
    display: block;
  }

  .skills {
    width: 51em;
    margin-top: 34px;
  }

  .icons {
    padding-left: 30px;
    padding: 0%;
    padding-top: 30px;
  }

  .bigImg img {
    height: 25.25em;
    width: 19em;
  }

  .fourImages img {
    width: 9.5em;
    height: 9.5em;
  }

  .our {
    padding-left: 1.375em;
  }

  .team {
    margin-left: 1.125em;
  }

  .counter {
    width: 44em;
  }

  .subscribe {
    width: 44em;
  }

  .follow {
    padding-left: 0%;
  }

  .welcomeImg {
    background-color: white;
    width: 23.625em;
    height: 18.75em;
    padding-top: 13em;
  }
}

/*# sourceMappingURL=styles.css.map */
