@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin-left: 0%;
  margin-right: 0%;
  font-family: "Poppins", sans-serif;
}

nav ul {
  word-spacing: 20px;
  padding: 10px;
}

nav {
  color: #666666;
  position: fixed;
  background-color: white;
  width: 100%;
}

ul :hover {
  color: #ee534f;
}

.logo img {
  width: 300px;
  height: 100px;
  margin-left: 0%;
}

.searchBox {
  padding: 20px;
  width: 100%;
}

.searchBox:hover {
  width: 100%;
}

header {
  background-color: black;
  color: #e8e8e8;
  width: 100%;
  height: 550px;
  text-align: center;
  padding-top: 40px;
}

header h1 {
  font-size: 45px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 80px;
}

header p {
  padding-right: 190px;
  padding-left: 190px;
  font-size: 15px;
  line-height: 1.75;
}

section {
  text-align: center;
  background-color: black;
  width: 100%;
  color: #e8e8e8;
}

.icons {
  padding: 60px;
}

.icons i {
  font-size: 30px;
  color: #ee534f;
}

.our {
  padding-left: 70px;
}

.mainContainer {
  padding-top: 70px;
}

.fourImages img {
  width: 200px;
  height: 200px;
}

.bigImg img {
  height: 400px;
  width: 500px;
}

.team {
  background-color: white;
  color: black;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav li {
  list-style: none;
  display: inline-block;
  word-spacing: 20px;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
}

.images img {
  width: 200px;
  height: 200px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.our {
  display: inline-block;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.fourImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.mainPic {
  display: grid;
  grid-template-columns: 500px 500px;
}

.pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pics img {
  width: 150px;
  height: 150px;
}

.picDe {
  padding-left: 1px;
  padding-right: 20px;
}

#start, #donate {
  height: 6vh;
  width: 10%;
  border-radius: 5px;
}

#donate a .fa-angle-double-right {
  color: black;
}

#donate:hover {
  width: 130px;
}
#donate:hover .fa-angle-double-right {
  padding-left: 10px;
  color: white;
  text-decoration: none;
}

button a .fa-angle-double-right {
  display: none;
}

button:hover {
  width: 170px;
  text-align: left;
  color: white;
}
button:hover .fa-angle-double-right {
  display: inline;
  padding: 5px;
  color: #e7e7e7;
  text-decoration: none;
}

#start {
  background-color: #ee534f;
  border: 1px solid #ee534f;
  color: #e8e8e8;
}

#donate {
  background-color: black;
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
}

.long {
  width: 140px;
  height: 1.2px;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  float: left;
}

.short {
  width: 25px;
  height: 1.5px;
  background-color: #ee534f;
  float: left;
}

.readMore {
  width: 15%;
  border: 1px solid #e8e8e8;
  border-radius: 0%;
}

.picsDe a {
  font-size: 30px;
  word-spacing: 10px;
  color: #e7e7e7;
}

/*# sourceMappingURL=styles.css.map */
