body{
    margin-left: 0%;
    margin-right: 0%;
    font-family: $font;
    // overflow: hidden;
}

// nav bar styling
nav ul{
    word-spacing: 1.250em;
    padding: 0.625em; 
}

nav {
    color: $font-color2;
    position: fixed;
    background-color: white;
    width: 100%;
}

nav{
    a{
        color: $font-color2;
        text-decoration: none;
    }
    
}

ul :hover{
    color: $btn-nav;
}

// logo styling
.logo img{
    width: 18.750em;
    height: 6.250em;
    margin-left: 0%;
}

// search box styling
.searchBox{
    padding:1.250em;
   width: 100%;
  
}

// header styling
header{
    background-image: url(../images/Code4CT-homepage.jpg);
    color: $font-color;
    width: 100%;
    height: 34.375em;
    text-align: center;
    padding-top: 5.000em;
    
}

header h1{
    font-size: 2.813em;
     padding-left: 5.625em;
     padding-right: 5.625em;
     padding-top: 1.0em;
     
}

header p{
    padding-right: 11.875em;
    padding-left: 11.875em;
    font-size: 0.938em;
    line-height: 1.75;
    
    

}

.skills{
    text-align: center;
    background-color: black;
    width: 100%;
    color: $font-color;
   
}

.icons{
   padding: 3.750em;
}

.icons i{
    font-size: 1.875em;
    color: $btn-nav;
}

.our{
    padding-left: 4.375em;
}

.mainContainer{
    padding-top: 4.375em;
}

.fourImages img{
    width: 12.500em;
    height: 12.500em;
}

.bigImg {
  img{
    height: 31.250em;
    width: 50.000em;
  }  
}

.team{
    background-color: white;
    color:black;
    padding-bottom: 1.250em;
    
}

.contactItem1{
    padding-top: 3.125em;
}

.contactItem2{
    background-color: white;
    color: #666666;
    text-align: left;
    padding-left: 1.875em;
}

// footer
footer{
    display: inline;
}

.copyright{
    padding: 0%;
    margin: 0%;
}

.follow{
    padding: 0%;
    padding-right: 20%;
}

// contact page styling

.banner{
    padding-top: 8.750em;
    text-align: center;
    padding-bottom: 6.250em;
    background-color: #e7e7e7;
    color: $grey;
    
    p{
        color: $btn-nav;
    }
}

.subHead{
    display: inline-block;
}

.message{
  text-align: left;
  padding-left: 1.875em;
  padding-bottom: 5.000em;
}

.messageSend{
    margin-left: 1.875em;
    font-size: 1.250em;
}

.welcomeImg{
    background-color: grey;
    width: 35.625em;
    height: 23.750em;
    img{
        width: 100%;
        height: 100%;
    }
}

.weImg{
    background-color: grey;
    height: 42.375em;
    width: 43.750em;
    img{
        width: 100%;
        height: 100%;
    }

}

.whoWe{
    padding-left: 1.875em;
}

.welcome{
    padding-bottom: 1.875em;
    padding-top: 1.875em;
    padding-left: 1.250em;
}

.weDescrip{
    padding-left: 1.250em;
    h3{
        color: $btn-nav;
    }
}

.stats{
    padding-bottom: 1.875em;
    padding-top: 1.875em;
    color: #e7e7e7;
    background-color: black;
    padding-left: 30px;
}

.portfolioHead{
    text-align: center;
}

// courses
.courses{
    padding-left: 20px;
    h2{
        text-align: center;
    }
}

.course1{
    border: 2px solid $font-color;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    
}
