body{
    margin-left: 0%;
    margin-right: 0%;
    font-family: $font;
}

// nav bar styling
nav ul{
    word-spacing: 20px;
    padding: 10px; 
}

nav {
    color: #666666;
    position: fixed;
    background-color: white;
    width: 100%;
}

ul :hover{
    color: #ee534f;
}

// logo styling
.logo img{
    width: 300px;
    height: 100px;
    margin-left: 0%;
}

// search box styling
.searchBox{
    padding: 20px;
   width: 100%;
  
}

.searchBox:hover{
    width: 100%;
}

// header styling
header{
    background-color:$black;
    color: $font-color;
    width: 100%;
    height: 550px;
    text-align: center;
    padding-top: 40px;
}

header h1{
    font-size: 45px;
     padding-left: 90px;
     padding-right: 90px;
     padding-top: 80px;
     
}

header p{
    padding-right: 190px;
    padding-left: 190px;
    font-size: 15px;
    line-height: 1.75;
    
    

}

section{
    text-align: center;
    background-color: black;
    width: 100%;
    color: $font-color;
   
}

.icons{
   padding: 60px;
}

.icons i{
    font-size: 30px;
    color: $btn-nav;
}

.our{
    padding-left: 70px;
}

.mainContainer{
    padding-top: 70px;
}

.fourImages img{
    width: 200px;
    height: 200px;
}

.bigImg {
  img{
    height: 700px;
    width: 800px;
  }  
}

.team{
    background-color: white;
    color:black;
    
}

// counter styling
.counter{
    text-align: center;
    background-color: black;
    width: 100%;
    color: $font-color;
    padding-left: 350px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.count{
    padding-right: 50px;
}

.counter{
    p{
        font-size: 10px;
    }

    hr{
        width: 20px;
        color: $btn-nav;
        border: 1px solid $btn-nav;
    }
}
