// nav bar styling
nav ul{
    word-spacing: 20px;
    padding: 10px; 
}

nav {
    color: #666666;
}

ul :hover{
    color: #ee534f;
}

// logo styling
.logo img{
    width: 300px;
    height: 100px;
    margin-left: 0%;
}

// search box styling
.searchBox{
    padding: 20px;
   
}

// header styling
header{
    background-color:$header-color;
    color: $header-text;
    width: 1123px;
    height: 350px;
    padding: 170px;
}

header p{
    padding-right: 90px;
    

}

.btn{
    padding-left: 400px;
}