





// button styling

#start, #donate{
    height: 6vh;
    width: 8.125em;
    border-radius: 5px;
    
    
}

a{
    text-decoration: none;
}



#donate{
    
    .fa-angle-double-right{
        color: black;
        // text-decoration: none;
    }
}

#start:hover{
    width: 137px;
    .fa-angle-double-right{
        padding-left: 0.625em;
        color: white;
        // text-decoration: none;
    }

}


#donate:hover{
    width: 137px;
    .fa-angle-double-right{
        padding-left: 0.625em;
        color: white;
        // text-decoration: none;
    }
}

button a{
    .fa-angle-double-right{
        display: none;
    }
}

button:hover{
    // width: 170px;
    text-align: left;
    color: white;
    .fa-angle-double-right{
        display: inline;
        padding: 0.313em;
        color: #e7e7e7;
        text-decoration: none;
    }
   
}

#start{
    background-color: $btn-nav;
    border: 3px solid $btn-nav;
    color: $font-color;
}

#donate{
    background-color: black;
    border: 3px solid $font-color;
    color: $font-color;
   
}

.long{
    width: 8.750em;
    height: 1.2px;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    float: left;
}

.short{
    width: 1.563em;
    height: 1.5px;
    background-color: #ee534f;
    float: left;
}

.middle{
    width: 1.563em;
    height: 1.5px;
    background-color: #ee534f;
    padding-bottom: 0%;
}

.middle2{
    width: 8.750em;
    height: 1.2px;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
}

// read more button styling
.readMore{
    width: 15%;
    border: 1px solid $font-color;
    border-radius: 0%;
}

// social media icons


.picDe{
    p, h3, hr{
        color: $font-color3;
    }

    h2{
        color: #555555;
    }

    a{
        font-size: 1.250em;
        padding-right: 0.313em;
        color:$font-color3;   
    }
}

// subscribe styling
.subscribe{
    text-align: center;
    padding-bottom: 2.500em;
    padding-top: 2.500em;
}

.subscribe{
    p{
        font-size: 0.938em;
    }

    i{
        color: $btn-nav;
    }

    input{
        padding-right: 0.625em;
       background-color: $email;
       border: 2px solid $email;
    }

    button{
       background-color: $btn-nav;
       color: #e7e7e7;
       border: 2px solid $btn-nav;
       height: 2.250em;
       border-radius: 5px;
    }
}

// sponsor styling
.sponsors{
    background-color: black;
    color: white;
    overflow: hidden;
    height: 11.875em;
    
   
}

.sponsorItems{
    width: 100%;
    display: inline-block;
    animation-name: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative; left:100%;

}


@keyframes slider{
    100%{
        position: relative;left:-3000px;
    }
}

.sponsors{
    img{
         display: inline-block;
         margin-right:3.125em;
    }
}


.contact{
    padding-top: 1.875em;
    background-color: white;
    margin-left: 3.750em;
    color: $background-color;
    text-align: left;
}

.fa-phone, .fa-envelope, .fa-map-marker-alt{
    padding: 0.313em;
    border-radius: 10%;
    border: 1px solid grey;
    color: #555555;
}

.fa-phone:hover, .fa-envelope:hover, .fa-map-marker-al :hover{
    color: #ee534f;
}






