// nav bar layout

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav li{
    list-style: none;
    display: inline-block;
    word-spacing: 20px;
}

// who we are article styling
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 130px;
    grid-row-gap: 25px;
    grid-column-gap: 10px;
}

.images img{
    width: 200px;
    height: 200px;
}

// styling for middle div
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 15px;
}

.our{
    display: inline-block;
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.fourImages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
}

//Meet our team 
.mainPic{
    display: grid;
    grid-template-columns: 500px 500px;
}

.team{
    margin-left: 50px;
}

.pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pics img{
    width: 220px;
    height: 300px;
    background-color: gray;
}

.picDe{
    padding-left: 1px;
    padding-right: 20px;
}

// counter styling
.counter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

// footer
footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $btn-nav;
    text-align: right;
    color: white;
}



.follow{
    text-align: right;
    padding-left: 250px;
}

footer{
    a{
        color: white;
    }
}

