// nav bar layout

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav li{
    list-style: none;
    display: inline-block;
    word-spacing: 20px;
}

// who we are article styling
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
}

.images img{
    width: 200px;
    height: 200px;
}

// styling for middle div
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ourClasses{
    display: inline;
}
