// media queries for mobile
@media only screen 
and (min-device-width: 0px) 
and (max-device-width: 767px) {
      nav{
        
          img{
              width: 40px;
              height: 40px;;
          }
          font-size: 8px;
          width: 360px;
          position: fixed;
      }

      .searchBox{
          width: 100%;
      }
    header h1{
        font-size: 1.813em;
        padding-top: 1.0em;
        padding-left: 0%;
        padding-right: 0%;
         
    }
    
    header p{
        font-size: 0.938em;
        line-height: 1.75;
        padding: 0%;
    }

    .about{
        display: block;
     ;
    }

    .images{
      display: inline-block;
      padding-left: 0%;
    }

    .readMore{
        width: 30%;
        border: 1px solid $font-color;
        border-radius: 0%;
        font-size: 10px;
    }

    .skills {
        font-size: 10px;
        display: block;
    }

    .our{
        padding-left: 0%;
        width: 360px;
        p{
            font-size: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .mainContainer{
        display: block;
        padding-left: 75px;
      
    }
    
    .fourImages{
        display: block;
      
    }

    .fourImages img{
        width: 12.500em;
        height: 12.500em;
    }
    
    .bigImg {
      img{
        width: 12.500em;
        height: 12.500em;
      }  
    }

    .mainPic{
        display: block;
        // grid-template-columns: 500px 500px;
    }
    
    .team{
        margin-left: 2.125em;
    }
    
    .pics{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .pics img{
        width: 110px;
        height: 179px;
        background-color: gray;
    }
    
    .picDe{
     
        font-size: 10px;
    }

    .counter{
        padding-left: 0;
      
        span{
            font-size: 0.875em;
        }
    }

    .count{
        padding-right:0.125em ;
    }

    .sponsors{
        width: 360px;
        height:2.875em;
        img{
            width: 100%;
            height: 100%;
        }
    }
    
    .contact{
        display: block;
    }

    .follow{
       font-size: 10px;
        padding-left: 0%;
        
        
    }

    .copyright{
        font-size: 10px;
    }

    .welcome{
        display: block;
    }

    .welcomeImg{
        margin-top: 10px;
        width: 21.625em;
        height: 15.75em;
        
    }

    .weImg{
        height: 17.375em;
        width: 18.75em;
    }

    .whoWe{
        display: block;
    }

    .stats{
        font-size: 10px;
    }

    .con{
        padding-left: 20px;
    }

   .message{
       display: block;
   }

   .mapouter {
    text-align: right;
    height: 500px;
    width: 100%;
  }

  .galleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .galleryContainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .galleryContainer3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .buttons {
    padding-left: 107px;
    padding-top: 30px;
    padding-bottom: 40px;
  }


  .gallery {
    margin-left: 13px;
  }
}

// media queries for tablet
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px){
    nav{
        width: 48em;
    }
    
    header{
        width: 48em;
        padding-left: 0%;
        padding-right: 0%;
    }

    header{
        h1{
            padding-left: 0%;
            padding-right: 0%;
        }
    }

    .about{
        padding-right: 103px;
        margin-left: 11em;
        padding: 0%;
        display: block;
    }

    .skills{
        width:51em;
        margin-top: 34px;
    }

    .icons{
        padding-left: 30px;
        padding: 0%;
        padding-top: 30px;
    }

    .bigImg img {
        height: 25.25em;
        width: 19em;
    }

    .fourImages img {
        width: 9.5em;
        height: 9.5em;
    }

    .our{
        padding-left: 1.375em;
    }

    .team{
        margin-left: 1.125em;
    }

    .counter{
        width: 44em;
    }

    .subscribe{
        width: 44em;
    }

    .follow{
        padding-left: 0%;
    }

    .welcomeImg{
        background-color: white;
        width: 23.625em;
        height: 18.75em;
        padding-top: 13em;
    }

    .weImg{
        height: 26.375em;
        width: 26.75em;
        padding-top: 168px;
        background-color: white;
    }

    .messageSend{
        margin-left: 0.875em;
    }

    .con{
        margin-left: 20px;
    }
}