//variables

// colors
$grey: #555555;
$orange:#ee534f;
$white: #e8e8e8;
$grey2:#666666;
$black: black;

// primary colors
$background-color:$grey;
$btn-nav: $orange;
$font-color: $white;
$font-color2: $grey2;
$font-color3: #888888;

// fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

$font:'Poppins', sans-serif;
