//variables


// primary colors
$background-color:#555555;
$btn-nav: #ee534f;
$font-color: #e8e8e8;
$font-color2:#666666;

// fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

$font:'Poppins', sans-serif;
